.cms-article {
    padding: 3rem;
    box-shadow: $shadow1;
    border-radius: $border-radius2;

    @media screen and (max-width: $break-menu) {
        padding: 0 1rem;
        box-shadow: none;
        border-radius: none;
    }
}
