.btn {
    display: inline-flex;
    align-items: center;
    border-radius: $border-radius2;
    padding: 0.466rem 1.4rem;
    transition: linear 0.3s;

    &:focus,
    &:active {
        outline: none !important;
        box-shadow: none !important;
    }
}

.btn-primary {
    @extend .btn;
    background-color: $primary;

    &:hover {
        background-color: lighten($primary, 10%);
        border-color: lighten($primary, 10%);
    }
}

.btn-secondary {
    @extend .btn;
    background-color: $secondary;

    &:hover {
        background-color: lighten($secondary, 10%);
        border-color: lighten($secondary, 10%);
    }
}
