@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:wght@400;600&display=swap");

$font-family-headlines: "Montserrat Alternates", sans-serif;
$font-family-sans-serif: "Montserrat", sans-serif;

$shadow1: 0px 0px 10px 0px rgba(15, 1, 6, 0.18);
$shadow2: 0px 0px 15px 0px rgba(15, 1, 6, 0.18);
$shadow3: inset 0px 0px 10px 0px rgba(15, 1, 6, 0.18);

$border-radius1: 5px;
$border-radius2: 35px;

$break-menu: 1199px;

$transition1: all linear 0.3s;
$transition2: all cubic-bezier(1, 0.5, 0.8, 1) 0.3s;
