// @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:wght@400;600&display=swap");

// $font-family-headlines: "Nunito", sans-serif;
// $font-family-sans-serif: "Nunito", sans-serif;
$font-family-headlines: "Montserrat Alternates", sans-serif;
$font-family-sans-serif: "Montserrat", sans-serif;

$shadow1: 0px 0px 10px 0px rgba(29, 18, 28, 0.3);
$shadow2: 0px 0px 15px 0px rgba(29, 18, 28, 0.3);
$shadow3: inset 0px 0px 10px 0px rgba(29, 18, 28, 0.3);

$border-radius1: 5px;
$border-radius2: 35px;

$break-menu: 1199px;

$transition1: linear 0.3s;
$transition2: transform 0.3s cubic-bezier(1, 0.5, 0.8, 1);
