.employer {
    #testimonials {
        .icon-transparent {
            opacity: 0.1;
        }
    }

    .blend {
        filter: grayscale(0.5);
        transition: linear 0.3s;

        &:hover {
            filter: grayscale(0);
        }
    }
}
