#footer {
    background-color: $primary;
    padding: 1rem 0;
    color: $light;
    margin-top: 2rem;

    .container {
        .col {
            padding: 1rem;
        }

        a {
            color: $light;

            &:hover {
                color: transparentize($color: $light, $amount: 0.5);
            }
        }

        .nav {
            .nav-link {
                padding: 0.5rem 0;
                color: $light;
                font-family: $font-family-headlines;

                :not(.home) > .router-link-active {
                    color: darken($light, 5%);
                }

                .router-link-exact-active {
                    color: darken($light, 5%);
                }
            }
        }
    }
}
