#footer {
    background-color: $primary;
    padding: 1rem 0;
    color: $light;
    margin-top: 2rem;

    hr {
        border-top: 1px solid transparentize($color: $light, $amount: 0.75);
    }

    .container {
        .col {
            padding: 0 2rem;

            @media screen and (max-width: $break-menu) {
                padding: 1rem 2rem;
            }
        }

        a {
            color: $light;

            &:hover.nav-link {
                color: transparentize($color: $light, $amount: 0.5);
            }
        }

        .nav {
            .nav-link {
                padding: 0.5rem 0;
                color: $light;
                font-family: $font-family-headlines;
                font-size: 1.2rem;

                :not(.home) > .router-link-active {
                    color: darken($light, 5%);
                }

                .router-link-exact-active {
                    color: darken($light, 5%);
                }
            }
        }
    }
}
