#header {
    background: $primary;
    font-family: $font-family-headlines;

    .navbar {
        padding: 0 1rem;

        :not(.home) > .router-link-active {
            color: darken($light, 5%);
        }

        .router-link-exact-active {
            color: darken($light, 5%);
        }
    }
}
