#header {
    background: $primary;
    font-family: $font-family-headlines;

    .navbar {
        padding: 0 1rem;

        :not(.home) > .router-link-active {
            color: darken($light, 5%);
        }

        .router-link-exact-active {
            color: darken($light, 5%);
        }

        .dropdown-menu {
            background-color: $primary;
            border: none;

            .dropdown-item {
                color: transparentize($light, 0.5);

                &:hover {
                    background-color: $primary;
                    color: transparentize($light, 0.15);
                }

                &.router-link-exact-active {
                    color: darken($light, 5%);
                }
            }
        }
    }

    /* #Animate navbar menu icon */
    .ui-hamburger-05 {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 35px;
        height: 30px;
        border: none;
        position: relative;
        background: linear-gradient(
            to bottom,
            transparentize($light, 0.5),
            transparentize($light, 0.5)
        );
        background-size: 0 0;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &:before,
        &:after {
            height: 2px;
            width: 100%;
            position: absolute;
            left: 0;
            background-color: transparentize($light, 0.5);
            content: "";
            transition: transform 0.4s ease;
        }

        &:before {
            top: 10px;
        }

        &:after {
            bottom: 10px;
        }

        &:not(.collapsed) {
            background-size: 0 0;
        }

        &:not(.collapsed):before,
        &:not(.collapsed):after {
            transition-delay: 0.1s;
        }

        &:not(.collapsed):before {
            transform: translateY(4px) rotate(45deg);
        }

        &:not(.collapsed):after {
            transform: translateY(-4px) rotate(-45deg);
        }
    }
}
