#header {
    background: $primary;
    font-family: $font-family-headlines;

    .navbar {
        padding: 0 1rem;

        :not(.home) > .router-link-active {
            color: darken($light, 5%);
        }

        .router-link-exact-active {
            color: darken($light, 5%);
        }

        .dropdown-menu {
            background-color: $primary;
            border: none;

            .dropdown-item {
                color: transparentize($light, 0.5);

                &:hover {
                    background-color: $primary;
                    color: transparentize($light, 0.15);
                }

                &.router-link-exact-active {
                    color: darken($light, 5%);
                }
            }
        }
    }
}
