.home {
    .hero {
        // background: url("~@/assets/img/MfaMalAnders_Hero_1500.jpg") top right;
        background: radial-gradient(closest-side, #f8faf977 50%, #f8faffff 100%),
            url("~@/assets/img/hero_map_1828.jpg") center center;
        // background: radial-gradient(closest-side, #f8faf977 50%, #f8faffff 100%),
        //     url("https://as1.ftcdn.net/jpg/02/69/49/12/240_F_269491208_KOzY8VE66dtkqx08pNuvhtvZgzeIh56r.jpg")
        //         center center;
        background-size: cover;
        background-blend-mode: lighten;
        min-height: 70vh;

        @media screen and (max-width: $break-menu) {
            min-height: calc(82vh - 70px);
        }

        .hero-text {
            border-radius: $border-radius2;
            background-color: transparentize($light, $amount: 0.15);
            box-shadow: $shadow1;
        }
    }
}
