html {
    font-size: 15px;
    scroll-behavior: smooth;
}

body {
    font-family: $font-family-sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-headlines;
    line-height: 1.6;
}
