a {
  // color: $tertiary;
  transition: $transition1;

  &.text-primary {
    &:hover {
      color: $secondary !important;
      text-decoration: none;
    }
  }

  &.text-muted {
    &:hover {
      color: $secondary !important;
      text-decoration: none;
    }
  }
}

main {
  ul:not([role="tablist"]):not([role="menu"]),
  ol {
    padding-inline-start: 2rem;
    counter-reset: item;

    &.no-bullets {
      padding-inline-start: 0;
    }

    li {
      margin-bottom: 0.75rem;
      counter-increment: item;
    }

    ol {
      li {
        display: block;
      }

      li:before {
        content: counters(item, ".") ". ";
        margin-left: -20px;
      }
    }
  }
}

blockquote {
  margin: 2rem 0;
  padding-left: 1rem;
  border-left: 5px solid $primary;
  font-size: 1.5em;

  cite {
    font-size: 1rem;
  }
}
