form {
    input,
    select,
    textarea,
    .form-control,
    .custom-select {
        border-radius: $border-radius2;
        padding: 0 1.4rem;

        &:focus,
        &:active {
            outline: none !important;
            box-shadow: none !important;
            border: 1px solid $secondary;
        }

        &::placeholder {
            color: #999;
        }
    }

    & > label,
    & label {
        margin: 1rem 0.3rem 0.3rem 0.3rem;
    }
}
