form {
    input,
    select,
    .form-control,
    .custom-select {
        border-radius: $border-radius2;
        padding: 0 1.4rem;

        &:focus,
        &:active {
            outline: none !important;
            box-shadow: none !important;
        }
    }

    & > label {
        margin: 1rem 0.3rem 0.3rem 0.3rem;
    }
}
