.jobcard {
  position: relative;

  .disabled-jobcard {
    cursor: not-allowed;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    border-radius: $border-radius1;
    background-color: #ffffffcc;
    // backdrop-filter: grayscale(1);
  }

  a {
    color: $dark;
    transition: $transition1;

    &:hover {
      color: $primary;
    }
  }

  .card {
    border: none;
    background-color: $light-shade;
    box-shadow: $shadow1;
    transition: $transition1;

    &:hover {
      box-shadow: $shadow2;
    }

    hr {
      margin: 0;
    }

    .card-head {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      background-color: lighten($primary, $amount: 0%);
      color: $light;
      border-radius: 5px 5px 0 0;
      overflow: hidden;

      .h4 {
        margin: 0;
        padding: 1rem;

        &.mobile-max-width-75 {
          @media screen and (max-width: $break-menu) {
            max-width: 75%;
          }
        }
      }

      .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: darken($light-shade, $amount: 1%);
        padding: 1rem 1rem;
        width: 130px;
        min-width: 130px;
        border-radius: 0 5px 0 0;

        @media screen and (max-width: $break-menu) {
          width: 90px;
          min-width: 90px;
          padding: 2rem 0;
        }

        img {
          max-height: 70px;
          max-width: 80%;
        }
      }
    }

    .card-content {
      padding: 1rem;
    }

    .card-foot {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 1rem;

      & > div {
        margin-top: 0.5rem;
        margin-right: 1rem;
        color: transparentize($primary, $amount: 0.1);
        display: flex;
        align-items: flex-start;

        .icon {
          min-width: 35px;
          display: flex;
          justify-content: center;
          align-items: flex-start;

          svg {
            margin-right: 1rem;
          }
        }

        // svg {
        //   color: $primary;
        // }
      }

      .badge {
        font-size: inherit;
        font-weight: inherit;
        color: $light;
        padding: 0.3rem 0.7rem;

        svg {
          color: $light;
        }
      }
    }
  }
}
