.job {
    padding: 3rem;
    box-shadow: $shadow1;
    border-radius: $border-radius2;

    @media screen and (max-width: $break-menu) {
        padding: 0;
        box-shadow: none;
        border-radius: none;
    }

    h1 {
        font-weight: bold;
    }

    .logo-container {
        background-color: darken($light, $amount: 2%);
        border-radius: $border-radius1;
        min-width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
            max-width: 120px;
            max-height: 120px;
            padding: 0.5rem;

            @media screen and (max-width: 767px) {
                max-width: 75px;
                max-height: 75px;
                min-width: 70px;
            }
        }
    }

    .head {
        div {
            margin-right: 1rem;
            margin-top: 0.275rem;
            margin-bottom: 0.275rem;
            color: $primary;
        }

        .badge {
            font-size: inherit;
            font-weight: inherit;
            color: $light;
            padding: 0.3rem 0.7rem;
        }
    }

    .title-img {
        border-radius: $border-radius1;
    }
}
