.jobboard {
    input,
    .input-group,
    select {
        min-width: 100%;
        max-width: 100%;
    }

    .job-list {
        a {
            color: unset;
            transition: linear 0.1s;

            &:hover {
                text-decoration: unset;
                color: $primary;
            }
        }
    }
}
