.salary {
    .card-header {
        cursor: pointer;
        background-color: transparentize($primary, $amount: 0.1);
        color: $light;
    }

    .checklist {
        background: url("~@/assets/img/money_motivation_.svg") 90% center
            no-repeat;
        background-size: 270px;
        background-color: $primary;
        background-blend-mode: normal;
        color: $light;
        padding: 2rem;

        ul {
            list-style-type: none;
            margin-bottom: 0;
            padding-left: 1rem;
        }
    }
}
