#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
}

// #Scrollbar
body::-webkit-scrollbar {
    width: 0.8rem;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $primary;
}

body::-webkit-scrollbar-thumb {
    background-color: transparentize($color: $dark, $amount: 0.5);
    border-radius: 10px;
}

h1.title {
    text-align: center;
    background-color: $primary;
    color: $light;
    padding: 1rem 0.75rem 2.5rem 0.75rem;
}

.card {
    border-radius: $border-radius1;
}

a.icon-box {
    color: $dark;

    &:hover {
        color: $tertiary;
    }
}

.icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    margin: 1rem;
    background-color: darken($light, $amount: 5%);
    border-radius: $border-radius1;

    svg {
        color: $primary;
        margin-bottom: 1rem;
    }
}

blockquote {
    margin: 2rem 0;
    padding-left: 1rem;
    border-left: 5px solid $primary;
    font-size: 1.5em;
}

.bold {
    font-weight: bold;
}

.border-radius1 {
    border-radius: $border-radius1;
}

.border-radius2 {
    border-radius: $border-radius2;
}

// #TipTapEditor
.editor__content {
    &.is-invalid {
        & > .ProseMirror {
            @extend .is-invalid;
        }
    }
    &.is-valid {
        & > .ProseMirror {
            @extend .is-valid;
        }
    }
}

.ProseMirror {
    @extend .form-control;
    height: unset;
    min-height: 150px;
    padding-top: 0.8rem !important;
    padding-bottom: 0.8rem !important;
}

// #Transitions
.fade-enter-active,
.fade-leave-active {
    transition: linear 0.8s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
